<!--auxiliar html for the header app-->

<div id="appbar" class="appbar">

    <img src="images/Logo.svg" alt="logo" class="logo">

    <span class="padding"></span>

    <img src="images/icn_person.svg" alt="icn_person" class="icn_person">

    <img src="images/icn_search.svg" alt="icn_search" class="icn_search">

  </div>