<!--auxiliar html for the six bullets list-->

<link rel="stylesheet" href="css/bullet.css">


<ul class="container float">
  <li class="item float-item" style="margin-right:10%">
    <div style="display: flex">
      <div style="padding-top:8%">
        <div class="numberCircle"> 1</div>
      </div>
      <span class="padding_list"></span>
      <div>
        <h2 class="list" id="title1"></h2>
        <p class="list" id="subtitle1"></p>
      </div>
    </div>
  </li>
  <li class="item float-item" >
    <div style="display: flex;">
      <div style="padding-top:8%">
        <div class="numberCircle"> 2</div>
      </div>
      <span class="padding_list"></span>
      <div>
        <h2 class="list" id="title2"></h2>
        <p class="list" id="subtitle2"></p>
      </div>
    </div>
  </li>
  <li class="item float-item" style="margin-right:10%">
    <div style="display: flex;">
      <div style="padding-top:8%">
        <div class="numberCircle">3</div>
      </div>
      <span class="padding_list"></span>
      <div>
        <h2 class="list" id="title3"></h2>
        <p class="list" id="subtitle3"></p>
      </div>
    </div>
  </li>
  <li class="item float-item">
    <div style="display: flex;">
      <div style="padding-top:8%">
        <div class="numberCircle">4</div>
      </div>
      <span class="padding_list"></span>
      <div>
        <h2 class="list" id="title4"></h2>
        <p class="list" id="subtitle4"></p>
      </div>
    </div>
  </li>
  <li class="item float-item" style="margin-right:10%">
    <div style="display: flex;">
      <div style="padding-top:8%">
        <div class="numberCircle">5</div>
      </div>
      <span class="padding_list"></span>
      <div>
        <h2 class="list" id="title5"></h2>
        <p class="list" id="subtitle5"></p>
      </div>
    </div>
  </li>
  <li class="item float-item">
    <div style="display: flex;">
      <div style="padding-top:8%">
        <div class="numberCircle">6</div>
      </div>
      <span class="padding_list"></span>
      <div>
        <h2 class="list" id="title6"></h2>
        <p class="list" id="subtitle6"></p>
      </div>
    </div>
  </li>
</ul>



<script>
  //load text from json
  $.getJSON("text/data.json", function (data) {
    console.log("loading text data")
    document.getElementById("title1").innerHTML = data["bullet"].title;
    document.getElementById("subtitle1").innerHTML = data["bullet"].subtitle;
    document.getElementById("title2").innerHTML = data["bullet"].title;
    document.getElementById("subtitle2").innerHTML = data["bullet"].subtitle;
    document.getElementById("title3").innerHTML = data["bullet"].title;
    document.getElementById("subtitle3").innerHTML = data["bullet"].subtitle;
    document.getElementById("title4").innerHTML = data["bullet"].title;
    document.getElementById("subtitle4").innerHTML = data["bullet"].subtitle;
    document.getElementById("title5").innerHTML = data["bullet"].title;
    document.getElementById("subtitle5").innerHTML = data["bullet"].subtitle;
    document.getElementById("title6").innerHTML = data["bullet"].title;
    document.getElementById("subtitle6").innerHTML = data["bullet"].subtitle;

  });


</script>


