<!--auxiliar html for the footer-->

<div class="container_list">
  <footer
    style="color: #999999; display: flex; padding-left: 10%; padding-right: 10%; padding-right: 2%"
  >
    <div>
      <p style="font-size: 1vw; padding-top: 2%">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    &nbsp;
    <div style="text-align: center; padding-top: 0%; padding-left: 2%">
      <a href="https://app.testdome.com/cert/7160a6652eb945bb9f960f34a83ebfa1">
        <h2  style="color: #004a80; display: flex; white-space: nowrap; font-weight: bold"
        >Terms | Privacy</h2></a>
    </div>
  
  </footer>

  
</div>
