<!-- Reference jQuery -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->


<!--using style from external file-->
<link rel="stylesheet" href="css/input.css">
<link rel="stylesheet" href="css/modal.css">


<!--auxiliar html for the search form list-->

<div style="align-content: center">
    <form name="form" action="/results" style="display: flex;">
        <div class="group" style="display: flex;">
            <input type="text" name="email" id="email_input" required>
            <span class="highlight"></span>
            <label id="input_label" class="input">EMAIL</label>
        </div>
        &nbsp;
        <button id="requestBtn" type="button" name="Validate" onclick="ValidateEmail()" >Go!</button>


    </form>
    <div style="padding-top: 2vw; padding-bottom: 5vw;">
        <img src="images/lock.svg" alt="lock" class="lock">
        &nbsp;
        <label id="lock" style="color: #F6BC25; font-weight: bold;">Enter Any Email Address. They won't be
            notified.</label>
    </div>
</div>

<!-- loading modal -->
<div id="loadingModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="loader"></div>
    </div>
</div>


</div>


<script>

    // Get the modal
    var modal = document.getElementById("loadingModal");
    console.log(modal)

    // Get the button that opens the modal
    var btn = document.getElementById("requestBtn");

    $('form').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });

    //validate email
    function ValidateEmail() {
        var inputText = document.getElementById("email_input").value

        var mailformat =  /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (mailformat.test(inputText)) {
            //valid email address
            document.getElementById("input_label").innerText = "EMAIL"
            document.getElementById("input_label").setAttribute("style", "color : #9B9B9B;font-weight: bold");
            console.log("redirect")
            localStorage.setItem("email",inputText)
            document.location.href = "/results"
        }
        else {
            document.getElementById("input_label").innerText = "Please add a valid email address"
            document.getElementById("input_label").setAttribute("style", "color : #DC0015;font-weight: normal");
        }}
</script>

<!-- doesmith@example.com -->