<!--results main view document-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Challenge</title>

  <!-- CSS -->
  <!-- load bootstrap and our own personal stylesheet -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/modal.css">

</head>

<!-- Reference jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/include.js"></script>
<div style="padding:4%; background-color: #004A80; width:100%">

  <div data-include="appbar"></div>

</div>

<!-- loading modal -->
<div id="loadingModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="loader"></div>
  </div>
</div>

<div class="container_list" style="padding-left: 5%; padding-right:5%">


  <div style="text-align: center;">
    <h1 style="color: #004A80;">Results</h1>
    <h2 style="color: #000000;">Look at the result below to see the details of the person you’re
      searched for.</h2>
  </div>

  <div class="results_card" style="display: flex;">

    <!--style-->
    <link rel="stylesheet" href="css/resultscard.css">
    <div class="numberCircle_person">
      <img src="images/icn_person.svg" alt="icn_person" class="numberCircle_icn_person" >
    </div>
    &nbsp;
    <div>
      
      <ul class="container float">
        <li class="item float-item" style="margin-right: 15%;">
          <div style="display: flex;">
            <h2 class="list" id="name"></h2> &nbsp; <h2 class="list" id="last_name"></h2>
            <h2 class="list">,</h2> &nbsp; <h2 class="list" id="age">age*</h2>
          </div>
          <p id="description"></p>
        </li>

        <li class="item float-item" style="margin-right: 15%;">
          <div>
            <h2 class="list">Address</h2>
            <label id="address" style="color: #000000"></label>
          </div>
        </li>

        <li class="item float-item">
          <div>
            <h2 class="list">Phone Numbers</h2>
            <label id="phone" style="color: #004A80;white-space: pre-line;"></label>
          </div>
        </li>


        <li class="item float-item" style="margin-right: 15%;">
          <div>
            <h2 class="list">Email</h2>
            <label id="email" style="color: #000000"></label>
          </div>
        </li>

        <li class="item float-item">
          <div>
            <h2 class="list">Relatives</h2>
            <label id="relatives" style="color: #000000; white-space: pre-line;"></label>
          </div>
        </li>
      </ul>

    </div>


  </div>

</div>

<div class="container" style="padding-left: 5%; padding-right:5%; background-color: #004A80;">
  <div>
    <h1 class="top" id="title"></h1>
    <div style="justify-content: center; display:flex">
      <h2 id="subtitle_1" style="color: #F6BC25; font-weight: bold;"></h2>
      &nbsp;
      <h2 id="subtitle_2"></h2>

    </div>
  </div>
  <div style="justify-content: center; display:flex; ">
    <div style="width: 100%;" data-include="searchform"></div>
  </div>
</div>


</div>
<script src="js/results.js"></script>

<div style="padding-left: 0%; padding-right:0%; background-color:white">
  <div data-include="footer" style="padding-left: 0%; padding-right:0%"></div>
</div>
<!-- doesmith@example.com -->