<!--search main view document-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Challenge</title>

  <!-- CSS -->
  <!-- load bootstrap and our own personal stylesheet -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<!-- Reference jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="js/include.js"></script>


<div class="container">


  <div data-include="appbar"></div>

  <h1 class="top">Search Any Email Address</h1>

  <h2>
    <span style="color: #F6BC25; font-weight: bold;">Start here</span> - Look up the owner's name, photos and online
    profiles. See what
    you find!</h2>


  <div style="justify-content: center; display:flex; ">
    <div  style="width: 100%;" data-include="searchform"></div>
  </div>



</div>

</div>

<div class="container_list" style="background: linear-gradient(to bottom, white, #E6E6E6);">
  <h1 class="bottom">Reverse Email Lookup</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <!-- import bullets -->
      <div data-include="bullet"></div>
    
  </div>


  <script src="js/search.js"></script>

</div>
<div data-include="footer"></div>

<!-- doesmith@example.com -->