/*css for the six bullets on the first page*/
.numberCircle {
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
  background: #004A80;
  color: #F6BC25;
  text-align: center;
  letter-spacing: 0;
  font-family: system-ui;
  font-weight: bold;
  font-size: 5vw;
}

.container {
  list-style:none;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}
.item {
  width: 40%;
  margin: 10px;
  
}

/*float layout*/
.float {
  margin: 0 auto;
}
.float:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.float-item {
  float: left;
}


/*inline-block*/
.inline-b {
  max-width:1200px;
  margin:0 auto;
}
.inline-b-item {
  display: inline-block;
}

/*Flexbox*/
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

@media (min-width: 320px) {
  .item {
    width: 100%;
    
  }
}

@media (min-width: 768px) {
  .item {
    width: 40%;
    
  }
}

@media (min-width: 1440px) {
  .item {
    width: 40%;
    
  }
}