/*style for the search form*/

/* form starting stylings ------------------------------- */
.group 			  { 
position:relative; 
width: 100%;
/*margin-bottom:45px; */

}
input 				{
font-size:2vw;
padding:20px 10px 10px 5px;
display:block;
width:100%;
border:none;
border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label.input 				 {
    color:#999; 
    font-size:4vw;
    position:absolute;
    pointer-events:none;
    left:1%;
    top:2vw;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    

    font-family: Helvetica;
    font-weight: bold;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:5%;
    font-size:14px;
    
  }

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
content:'';
height:2px; 
width:0;
bottom:1px; 
position:absolute;
background:#5264AE; 
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}


