/*style for the loading modal form*/

.modal {
    display: none; 
    position: fixed; 
    padding-top: 20%; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color:rgba(0,0,0,0);
    margin: auto;
    width: max-content;
    box-shadow: none;
  }