/*css for the results card*/
.container {
  list-style: none;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}
.item {
  width: 40%;
  margin: 10px;
}

/*float layout*/
.float {
  margin: 0 auto;
}
.float:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.float-item {
  float: left;
}

/*inline-block*/
.inline-b {
  max-width: 1200px;
  margin: 0 auto;
}
.inline-b-item {
  display: inline-block;
}

/*Flexbox*/
.flex {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.numberCircle_icn_person {
    max-width: 0%;
    position: absolute;
    right: 0;
  }

@media (min-width: 320px) {
  .numberCircle_icn_person {
    max-width: 0%;
    position: absolute;
    right: 0;
  }

  .numberCircle_person {
  }
}

@media (min-width: 768px) {
  .numberCircle_icn_person {
    max-width: 12%;
    position: absolute;
    left: 0;
    padding-left: 8%;
    padding-top: 1%;
  }

  .numberCircle_person {
    border-radius: 100%;
    width: 15vw;
    height: 8vw;
    background: #004a80;
    color: #f6bc25;
    font-weight: bold;
    font-size: 5vw;
  }
  .container {
    list-style: none;
    margin: 0;
    padding-top: 0%;
    padding-bottom: 0%;
  }
}
@media (min-width: 1025px) {
    .numberCircle_icn_person {
        max-width: 100%;
        position: absolute;
        left: 0;
        width: 12%;
        padding-left: 8%;
        padding-top: 1%;
      }
    
      .numberCircle_person {
        border-radius: 100%;
        width: 15vw;
        height: 8vw;
        background: #004a80;
        color: #f6bc25;
        font-weight: bold;
        font-size: 5vw;
      }
      .container {
        list-style: none;
        margin: 0;
        padding-top: 0%;
        padding-bottom: 0%;
      }
}
