/*general file for style*/


/*titles style*/
h1 {
  font-family: Helvetica; 
  font-weight: bold; 
  letter-spacing: 0;
  text-align: center;
  src: local(HelveticaNeue-CondensedBold); 
  font-size: 5vw;
}

h1.top { 
  color: #ffffff;
}
h1.bottom { 
  color: #004A80;
}

/*paragraphs style*/
p {
  font-family: Helvetica;
  font-size: 2vw;
  color: #4A4A4A;
  letter-spacing: 0;
}
/*paragraphs style*/
label {
  font-family: Helvetica;
  font-size: 3vw;
  color: #000000;
  letter-spacing: 0;
}

label#lock {
  font-family: Helvetica;
  font-size: 2vw;
  color: #000000;
  letter-spacing: 0;
}

p.list {
  font-family: Helvetica;
  font-size: 2vw;
  color: #000000;
  letter-spacing: 0;
}

/*subtitles style*/
h2 {
  font-family: Helvetica; 
  letter-spacing: 0;
  text-align: center;
  font-size: 2vw;
  color: #ffffff;
}
h2.list {
  font-family: Helvetica;
  font-size: 4vw;
  font-weight: bold; 
  color: #004A80;
  letter-spacing: 0;
  text-align: left;
}

/*container style*/
.container {
  position:relative; 
  align-content: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  
}
.container_list {
  position:relative; 
  background-color: #ffffff;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  align-content: center;
  width: 100%;
}

.appbar {
    padding-top: 5%; 
    padding-bottom: 5%; 
  }

/*images style*/
  .logo {
    max-width: 30%;
    position: absolute;
    left: 0;
    padding-left: 5%;
    
  }
  .icn_search {
    width: 13%;
    position: absolute;
    right: 0;
    padding-right: 10%;
  }
  .icn_person {
    max-width: 8%;
    position: absolute;
    right: 0;
    padding-right: 5%;
  }
  .lock {
    max-width: 12%;
    left: 0;
  }
  

/*input style*/
.search {
  align-content: center;
  text-align: center;
}
input email {
  text-align: center;
}
input {
  overflow: visible;
  width: 60%;
}


/*button style*/
button {
  overflow: visible;
  background-image: linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
  border-radius: 6px;
  border-radius: 6px;
  width: 25%;
  padding: 2%;
  color: #004A80;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4vw;
}

/*loader style*/
.loader {
  border: 26px solid #f3f3f3;
  border-radius: 50%;
  border-top: 26px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  align-content: center;
  background-color: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.padding_list {
  padding: 1%;
}

.results_card {
  background: #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 30px;
border-radius: 30px;
padding: 1%;
}



body {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color:#004A80;
}

@media (min-width: 1025px) {
  .container_list {
    padding-left: 0%;
    padding-right: 0%;
  }
  .appbar {
    padding-top: 0%; 
    padding-bottom: 1%; 
  }

.container {
  position:relative; 
  align-content: center;
  width: 100%;
}
/*paragraphs style*/
p {
  font-family: Helvetica;
  font-size: 2vw;
  color: #4A4A4A;
  letter-spacing: 0;
  padding-left: 8%;
  padding-right: 8%;
}

}